{% extends "base.html" %}
{% block content %}

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Message</b></h5>
            </div>
            <div class="modal-body">
                <p id="modal_message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="close_modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#close_modal').on('click', () => {
        $('.modal').modal('hide');
    })
</script>
<div class="col-lg-12">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h1>Fingerprint Registration</h1>
        </div>

        <div class="form-group">
            <div class="row mb-4 px-3 d-flex justify-content-center">
                <h4><label for="instructions">Follow the instructions</label></h4>
            </div>
            <textarea class="form-control" rows="10" id="instructions" readonly="readonly"></textarea>
        </div>
    </div>

</div>

<script type="application/javascript">
    $(document).ready(function () {
        $("#instructions").val("");
        let url = '/biometric_fingerprint_api?operation={{operation}}';
        {% if username %}
            url = '/biometric_fingerprint_api?operation={{operation}}&username={{username}}';
        {% endif %}
        $.ajax({
            'url': url,
            type: 'GET',
            success: (e) => {

            },
            error: (e) => {
                if (e.status === 302) {
                    window.location.replace(e.responseJSON.url);
                    return;
                }
                $("#modal_message").text(e.responseJSON.message);
                $('.modal').modal('show');
            }
        })

        let ws = new WebSocket("{{ws_url}}");
        ws.onmessage = function (evt) {
            let instructions = $("#instructions");
            let value = instructions.val();
            instructions.val(`${value}${evt.data}`);
            instructions.scrollTop(instructions[0].scrollHeight - instructions.height());
        };
        ws.onopen = function () {
            console.log("Connecting to the instruction's web socket")
        };
    });
</script>
{% endblock %}
