{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h1 class="mb-0 mr-4 mt-2"><b>Keychain Opener</b></h1>
        </div>
        <div class="row px-3 mb-4 ">
            <div class="line" style="width: 100%"></div>
        </div>
        <form action="/keychain" method="post">
            <input hidden="text" id="action" name="action" value="{{action}}"/>

            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username" required/>

            <label for="password">Master Password</label>
            <input type="password" id="password" name="password" placeholder="Enter master password" required/>
            <br>
            <div class="row px-3 mb-4">
                <input type="submit" value="Unlock keychain" class="btn btn-blue btn-block text-center"/>
            </div>
            <div class="row mb-4 px-3">
                {% if message %}
                <h4 class="mb-0 mr-4 mt-2">{{message}}</h4>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}