{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
    <div class="card2 card border-0 px-4 py-5">
        <div class="row mb-4 px-3">
            <h1 class="mb-0 mr-4 mt-2 "><b>Account</b></h1>
        </div>
        <div class="row px-3 mb-4">
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div id="accounts"></div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Username</h6>
            </label>
            <input id="username_{{username}}" class="mb-4" type="text" name="username"
                   placeholder="Enter a valid username"
                   value="{{username}}" required>
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Current password</h6>
            </label>
            </label>
            <div class="input-group">
                <input id="password_{{username}}" type="password" class="form-control pwd" name="password"
                       placeholder="Enter current password" required>

                <div class="input-group-append" onclick="see_password('password_{{username}}')">
                             <span class="input-group-text">
                             <i class="fa fa-eye"></i>
                             </span>
                </div>
            </div>
        </div>
        <div class="row px-3" style="margin-top: 20px">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">New password</h6>
            </label>
            <div class="input-group">
                <input id="new_password_{{username}}" type="password" class="form-control pwd" name="new_password"
                       placeholder="Enter new password" required>

                <div class="input-group-append" onclick="see_password('new_password_{{username}}')">
                             <span class="input-group-text">
                             <i class="fa fa-eye"></i>
                             </span>
                </div>
            </div>
        </div>

        <div class="row px-3" style="margin-top: 20px">

                          <span class="input-group-btn">
                            <button class="btn btn-dark reveal" type="button" onclick="update_account('{{username}}')">Update credentials</button>
                          </span>

            &nbsp;&nbsp;
            <span class="input-group-btn">
                            <button class="btn btn-danger reveal" type="button"
                                    onclick="delete_account('{{username}}')">Delete account</button>
                          </span>

        </div>

    </div>


</div>
<script>


    function see_password(password_input) {
        let password_input_jquery = $(`#${password_input}`);
        let current_type = password_input_jquery.attr('type');
        if (current_type === 'password') {
            password_input_jquery.attr('type', 'text');
        } else {
            password_input_jquery.attr('type', 'password');
        }

    }

    function delete_account(account_id) {
        $.ajax({
            type: "DELETE",
            url: `/delete_account?account_id=${account_id}`,
            contentType: "application/json",
            dataType: 'json',
            success: (e) => {
                let status = e['status'];
                if (status === 'OK') {
                    window.location.href = '/logout';
                } else {
                    alert("Error deleting this account");
                }
            }
        });
    }


    function update_account(account_id) {
        let username = $(`#username_${account_id}`).val();
        let password = $(`#password_${account_id}`).val();
        let new_password = $(`#new_password_${account_id}`).val();

        if (password === "") {
            alert("You need to insert current password in order to update these credentials!");
            return;
        }
        $.ajax({
            type: "POST",
            url: `/update_account?user_id=${account_id}&username=${username}&password=${password}&new_password=${new_password}`,
            contentType: "application/json",
            dataType: 'json',
            success: (e) => {
                let status = e['status'];

                if (status === "NOTHING")
                    alert("Nothing to update");
                else if (status === "OK") {
                    alert("Account updated");
                    location.reload();
                } else
                    alert(`${e.message}`);
            }
        });
    }
</script>
{% endblock %}

